{{ 'custom-404.css' | asset_url | stylesheet_tag }}

<div class="custom-404-wrapper">
  <h1>Oops! Page not found.</h1>
  <p>Looks like this page doesn't exist. Try heading back to the homepage or searching for what you need.</p>
  <a href="{{ routes.root_url }}" class="btn">Go to Homepage</a>
</div>
